SUBSYSTEMS=="usb", ATTRS{idProduct}=="0100", ATTRS{idVendor}=="09d7", PROGRAM="/sbin/modprobe usbserial vendor=0x09d7 product=0x0100"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*",ATTRS{idProduct}=="0100", ATTRS{idVendor}=="09d7", SYMLINK+="sensors/USB_DGPS%n" , MODE="0666"

